.gante-container {
  display: flex;
  .date-container {
    flex: 0 0 100px;
    display: flex;
  }
  .item-container {
    position: relative;
    flex: 1 0 0;
  }
  .date-container.vertical {
    flex-direction: column;
  }
}
.gante-container.horizontal {
  flex-direction: column;
}

.date-block-container {
  box-sizing: border-box;
  border: 1px solid red;
}
