.gante-container {
  display: flex;
  .date-container {
    flex: 0 0 100px
  }
  .item-container {
    position: relative;
    flex: 1 0 0;
  }
}
.gante-container .vertical {
}

.date-container {
  box-sizing: border-box;
  border: 1px solid red;
}
