.extra-sure-tag-container {
  display: flex;
  max-width: 700px;
  .close-container {
    position: relative;
    flex: 1;
    .close-button {
      position: absolute;
      width: 10px;
      height: 10px;
      right: 0;
      top: 0;
    }
    .circle {
      background: orange;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
